.navbar {
  min-height: 70px;
  padding-top: 10px;
  margin-bottom: 0px;
}

ul.nav li.dropdown-toggle:hover > ul.dropdown-menu {
  display: block;
}
.navbar-brand {
  height: auto;
  padding: 0;
  margin-top: 10px;
  font-size: 18px;
  line-height: auto;
}
.navbar-brand img {
  height: 26px;
  width: auto;
}


.navbar-default .navbar-nav > li > a {
  color: $color__white;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-default .navbar-nav > li > a:hover { color: $color__primary; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $color__primary;
  background-color: transparent;
}

.navbar-default {
  background-color: #384452;
  border-color: transparent;
}

.dropdown-menu {
  background: #384452;
  border: none !important;
  padding-top: 10px;
  padding-bottom: 0;
}
.navbar-default .lang {
  margin-left: 5px;
}
.navbar-default .lang a {
  margin-left: 5px;
  padding-left: 10px;
}
.navbar-default .lang ul a {
  margin-left: 0;
}
.navbar-default .lang:before {
  content: '';
  height: 14px;
  width: 1px;
  float: left;
  position: relative;
  top: 18px;
  border-left: 1px solid #fff;
}
.navbar-default .lang .dropdown-menu {
  min-width: 40px;
  text-transform: uppercase;
}

@media (max-width:  map-get($breakpoints, lg)){
  .lang-title {
    color: #fff;
    margin-top: 30px;
    padding: 10px;
    background: #5e6772;
  }
  .navbar-default .lang {
    margin-bottom: 20px;
  }
  .navbar-default .lang:before {
    content: none;
  }
  .navbar-default .lang,
  .navbar-default .lang a {
    margin-left: 0;
  }
}

.navbar-right .dropdown-menu { left: 0; }
.dropdown-menu > li > a {
  color: $color__white;
  font-weight: 700;
  font-size: 12px;
  padding: 6px 20px;
  border-top: 1px solid #4d5d70;
}

.dropdown-menu > li:first-child > a {
  border-top: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a.active,
.dropdown-menu > .active > a {
  color: $color__primary;
  background: #4d5d70 !important;
}

@media all and (max-width:  map-get($breakpoints, lg)) {
  .container > .navbar-header {
    margin-bottom: 10px;
  }
  .navbar-brand {
    margin-left: 15px;
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;;
  }
  .navbar-default .navbar-collapse {
    border: none;
  }
  .navbar-collapse {
    max-height: none;
  }
  .navbar-fixed-top {
    position: static;
  }
  .dropdown-menu {
    box-shadow: none;
    position: relative;
    display: block;
    float: none;
    padding-top: 0;
    padding-bottom: 20px;
    list-style-type: disc;
  }
  .navbar-default .dropdown-toggle a {
    border-bottom: 1px solid #5e6772;
  }
  .navbar-default .dropdown-menu li a,
  .navbar-default .dropdown-toggle:last-child a {
    border-bottom: none;
  }
  .dropdown-menu {
    margin-left: 0;
    padding-left: 30px;
  }
  .dropdown-menu > li {
    color: #fff;
    list-style-type: disc;
    list-style-position: outside;
  }
  .dropdown-menu > li > a {
    border: none;
    padding: 6px 0;
  }
  .dropdown-menu > li > a:hover {
    background: none;
  }
}