// did try to split up some contents from the demo into single component files.

/* Iconsize */
#service {
	margin-top: 100px;
	margin-bottom: 80px;

	i {
		color: $color__primary;
		font-size: 60px;
		padding: 15px;
	}
}

.service .size2 .fa {
	font-size: 20px;
}
.service .size3 .fa {
	font-size: 26px;
}

.fullpicture {
	position: relative;
	background-color: $color__background;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: relative;
	background-position: center center;
	margin-top: 0px;
	padding-top: 60px;
	text-align: center;
	min-height: 400px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 1;
}

.fullpicture .layer {
	background-color: $color__background;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	z-index: 1;
}


#headerpic {
	position: relative;
	background: $color__primary;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: relative;
	background-position: center center;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 100px;
	padding-bottom: 100px;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 1;
}

#headerpic .layer {
	background-color: $color__primary;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: 2;
}

#headerpic h3 {
	position: relative;
	text-transform: uppercase;
	z-index: 3;
	color: $color__white;
	display: inline;
	font-weight: 300;
	letter-spacing: 0.3em;
	border-bottom: 2px solid $color__white;
}

.ctitle {
	color: $color__primary;
	font-weight: 700;
	margin-bottom: 15px;
}


.badge-theme { background: $color__primary; }

.pictext h2,
.pictext h3 {
	margin-bottom: 25px;
}
.pictext img {
	border: 1px solid $color__grey;
}

.downloads h3 { margin-bottom: 25px; }
.downloads i.fa {
	margin-right: 10px;
	font-size: 18px;
	position: relative;
	top: 2px;
}

downloads a i.fa { color: $color__background; }
downloads a:hover i.fa { color: $color__primary; }
#contactwrap {
	margin-top: -60px;
	padding-top: 0px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.comments {
	padding-top: 10px;
	margin-top: 50px;
	border-top: 2px solid $color__white-off;
}

.comments h2 {
	font-size: 24px;
	padding-bottom: 30px;
}

#commentList li {
	margin-top: 30px;
	margin-bottom: 30px;
}

#commentList li::after {
	content: '';
	display: block;
	background: $color__white-off;
	width: 100%;
	height: 1px;
	margin-left: -20px;
}

.board h1 { font-size: 24px; }
.board h2 { font-size: 20px; }

.teaser h2 {
	margin-top: 0;
}
.teaser .hline {
	margin-top: 30px;
	margin-bottom: 40px;
}

.board table h2 {
	margin-top: 0;
	font-size: 18px;
}

.accordion .title {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.accordion .content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}

.accordion li.active .content { max-height: 400px; }
.accordion p:last-child { margin-bottom: 0; }
.accordion-1 li { margin-bottom: 10px; display: block !important; }
.accordion-1 li:last-child { margin-bottom: 0; }
.accordion-1 .title {
	background: #f5f5f5;
	padding: 13px 23px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}

.bg-secondary .accordion-1 .title { background: $color__secondary; }
.bg-secondary .accordion-1 .title:hover { background: $color__secondary; }
.accordion-1 .title span {
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}

.accordion-1 .active .title {
	background: $color__secondary;
	color: $color__white;
}

.accordion-1 .content {
	border: 1px solid #eee;
	border-top: none;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	opacity: 0;
}

.accordion-1 .content p { padding: 13px; }
.accordion-1 .active .content {
	opacity: 1;
	transform: translate3d(0,0px,0);
	-webkit-transform: translate3d(0,0px,0);
	-moz-transform: translate3d(0,0px,0);
}

.accordion-1 .title:hover {
	color: $color__secondary;
	background: #dce7f0;
}

.accordion-1 .active .title:hover {
	color: $color__white;
	background: #3c6991;
}

.accordion-2 li {
	display: block !important;
}
.accordion-2 .title {
	font-size: 16px;
	font-weight: 500;
	padding: 16px 0;
	border-bottom: 1px solid $color__grey;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	opacity: .7;
}

.accordion-2 .title:before {
	content: "\f067";
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 10px;
	margin-right: 10px;
}

.accordion-2 .active .title {
	opacity: 1;
	color: $color__secondary;
}

.accordion-2 .active .title:before { content: '\f068'; }
.accordion-2 .content p,
.accordion-2 .content ul,
.accordion-2 .content ol { padding: 16px 0; }
.accordion-2 .title:hover {
	opacity: 1;
	color: $color__secondary;
}

.tabs {
	overflow: hidden;
}
.tabs ul.tabs {
	padding-top: 20px;
}
.tabs ul.tabs,
.tabs ul.content {
	padding-left: 0;
}
.tabs li {
	display: inline-block;
	cursor: pointer;
}

.tabs.thirds { width: 100%; }
.tabs.thirds li { width: 33.3333333%; }
.tabs.thirds .tab-title { width: 100%; }
.button-tabs .tabs {
	display: inline-block;
	overflow: hidden;
}

.button-tabs .tabs > li {
	margin-bottom: 8px;
	float: left;
}

.button-tabs .tabs > li:last-child { margin-right: 0; }
.button-tabs .tab-title {
	padding: 13px;
	display: inline-block;
	text-align: center;
	min-width: 150px;
	background: #E0E4E6;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}

.bg-secondary .button-tabs .tab-title { background: #eee; }
.button-tabs .tab-title span {
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}

.button-tabs .active .tab-title {
	background: $color__secondary;
	color: $color__white;
}

.button-tabs .tab-title:hover { background: #C7D2D8; }
.button-tabs .active .tab-title:hover { background: $color__secondary; }
.button-tabs.vertical { overflow: hidden; }
.button-tabs.vertical > .tabs {
	width: 30%;
	float: left;
}

.button-tabs.vertical > .content {
	padding-left: 3%;
	width: 70%;
	float: right;
}

.button-tabs.vertical > .tabs li, .button-tabs.vertical .tab-title { width: 100%; }
.button-tabs.vertical > .tabs li { margin-bottom: 10px; }
.bg-dark .button-tabs .tab-title span { color: #222; }
@media all and (max-width:  map-get($breakpoints, lg)) {
	.button-tabs .tabs li {
		width: 49%;
		margin-bottom: 15px;
	}

	.button-tabs.vertical .tabs, .button-tabs.vertical .content {
		max-width: 100%;
		width: 100%;
		padding-left: 0;
	}

}

.tabbed-content .content > li {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	display: none;
}

.tabbed-content .content .active {
	opacity: 1;
	visibility: visible;
	display: block;
}

.text-tabs .tabs {
	padding-bottom: 16px;
	border-bottom: 1px solid $color__grey;
	overflow: visible;
}

.text-tabs.no-border .tabs { border-bottom: none; }
.text-tabs .tab-title {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	padding: 0 24px;
	opacity: 0.5;
	position: relative;
}

.text-tabs .tab-title span {
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}

.text-tabs .tab-title:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: $color__primary-off;
	bottom: 10px;
	opacity: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	bottom: -17px;
	left: 0;
}

.text-tabs .active .tab-title {
	opacity: 1;
	color: $color__secondary;
}

.bg-primary .text-tabs .tab-title:after {
	background: $color__secondary;
}
.text-tabs .active .tab-title:after {
	opacity: 1;
}
.text-tabs .tab-title:hover {
	opacity: 1;
}


@media all and (max-width:  map-get($breakpoints, lg)) {
	.text-tabs .tabs { padding-bottom: 0; }
	.text-tabs .tabs li {
		width: 49%;
		margin-bottom: 15px;
	}

	.text-tabs .tab-title:after { display: none; }
	.text-tabs:not(.text-center) .tabs li:first-child .tab-title { padding-left: 24px; }
}

.icon-tabs .tabs li {
	width: 24.5%;
	margin-bottom: 24px;
}

.icon-tabs .tab-title {
	text-align: center;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	opacity: .5;
}

.icon-tabs .tab-title:hover { opacity: 1; }
.icon-tabs .active .tab-title {
	color: $color__primary-off;
	opacity: 1;
}

.icon-tabs .active .tab-title i { color: $color__primary-off; }
.image-bg .icon-tabs .active .tab-title i { color: $color__white; }
.icon-tabs .tab-title i {
	display: block;
	margin-bottom: 16px;
}

.icon-tabs .tab-title span {
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}
@media all and (max-width: map-get($breakpoints, xl)) {
	.teaser .image-deco {
		margin-bottom: 20px;
		width: 100%;
	}
}
