.label {
  font-size: 85%;
  font-weight: normal;
}

.centered {
  text-align: center;
}
.grey {
  background: #eee;
}

.mtb {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media all and (max-width:  map-get($breakpoints, lg)) {
  .mtb {
    margin-bottom: 40px;
  }
}

.spacing {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mb { margin-bottom: 60px; }

.mt { margin-top: 60px; }

.hline {
  border-bottom: 1px solid #384452;
  margin: 40px 0 20px;
}

.hline-w {
  border-bottom: 1px solid $color__white;
  margin-bottom: 25px;
}

.parallax {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  overflow: hidden !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}

@media all and (max-width: map-get($breakpoints, lg)) {
  .parallax {
    background-attachment: scroll !important;
  }
}
