.label {
  font-size: 85%;
  font-weight: normal;
}

.centered {
  text-align: center;
}
.grey {
  background: #eee;
}

.mtb {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mb { margin-bottom: 60px; }

.mt { margin-top: 60px; }

.hline {
  border-bottom: 1px solid #384452;
  margin: 40px 0 20px;
}

.hline-w {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 25px;
}
