* {
  margin: 0;
  padding: 0;
}

body {
  background: $color__white;
  margin: 0;
  height: 100%;
  color: #384452;
  font-family: $font__main;
  font-weight: 400;
}

p {
  padding: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #384452;
  margin-top: 10px;
}

ol, ul { padding-left: 20px; }
ol li, ul li { line-height: 24px; font-size: 15px; }
img {
  height: auto;
  max-width: 100%;
}

pre {
  margin: 20px 0;
}
code {
  padding: 5px 10px;
  margin: 10px 0;
  display: block;
}

blockquote p {
  margin-top: 0;
}

table {
  border-top: 1px solid $color__grey;
  margin-top: 50px;
  width: 100%;
}

table tr { border-bottom: 1px solid $color__grey; }
table th {
  vertical-align: top;
  min-width: 200px;
  padding: 20px 0;
  border-top: 1px solid $color__background;
  border-bottom: 1px solid $color__background;
  text-transform: uppercase;
}

table td {
  vertical-align: top;
  padding: 20px 0;
}

::-moz-selection {
  color: $color__white;
  text-shadow: none;
  background: #2B2E31;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}
